.checkoutProduct {
  display: flex;
  margin: 20px;
}

.checkoutProduct > img {
  height: 180px;
  width: 180px;
  object-fit: contain;
}

.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__info > button {
  background-color: #f0c14b !important;
  border: 1px solid !important;
  border-color: #a88734 #9c7e31 #846a29 !important;
  text-transform: inherit !important;
  margin-top: 10px !important;
}
.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 700;
}
