.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 90%;
  outline-color: rgb(40, 40, 216);
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__logo {
  object-fit: contain;
  width: 100px;
  margin: 20px 0;
}

.login__signIn {
  background-color: #f0c14b !important;
  border: 1px solid !important;
  border-color: #a88734 #9c7e31 #846a29 !important;
  text-transform: inherit !important;
  margin-top: 10px !important;
  height: 30px;
  width: 100%;
  border-radius: 2px;
}

.login__createAccount {
  border-radius: 2px;
  height: 30px;
  border-radius: 2px;
  width: 100%;
  border: 1px solid darkgray;
  text-transform: inherit !important;
  margin: 15px !important;
}
